# Ant
- task: aqciconnect@2
  inputs:
    appURL: 'https://training.accelq.io/'
    userName: 'khushi.chada@accelq.com'
    apiKey: 'FF6hmcDNg52HdacjpBYi6b9ZweJXnGTmOSgzsnjIJi4'
    tenantCode: 'accelqtraining'
    jobId: '96550'
# Build your Java projects and run tests with Apache Ant.
# Add steps that save build artifacts and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: Ant@1
  inputs:
    workingDirectory: ''
    buildFile: 'build.xml'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
